.cls {
  height: 450px;
}

#div2,
#div4 {
  background-size: 100%;
  background-attachment: fixed;
  background-image: url("https://materializecss.com/templates/parallax-template/background1.jpg");
}

#div1,
#div5 {
  height: 100px;
}
